
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A0B2E;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}



header {
    background-color: #1A0B2E;
    padding-top: 30px;
    /* width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000; */
}

nav {
    margin: 0 auto;
    width: 81%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.gradient-text {
    background: linear-gradient(90deg, #FF3399 0%, #FF9933 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}


.menu {
  display: flex;
  gap: 32px;
  list-style: none;
  align-items: center;
}

.menu li a {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.btn-subscribe {

   background: linear-gradient(90deg, #FFD700 0%, #FF2E93 50%, #9F53FF 100%);
    color: white;
    padding: 12px 16px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 4px;

}

.banner-section {
    text-align: center;
    padding: 80px 0;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
}

.microphone-area {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorful-circle-img {
    width: 100%;
    height: 100%;
}

.mic-icon {
    position: absolute;
    width: 116px;
    align-items: center;
    /* z-index: 2; */

}

.new-badge {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 12px;
    
}

.title {
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-bottom: 8px;
    margin-top: 40px;
}

.sub-title {
    font-size: 16px;
    color: white;
    margin-bottom: 24px;
    margin-top: 8px;
    font-weight: 300;
    
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.spotify-btn {
    background: linear-gradient(90deg, #FFD700 0%, #FF2E93 50%, #9F53FF 100%);
    color: white;
    padding: 12px 28px;
    border-radius: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.small-icon {
    width: 20px;
    margin-right: 8px;
}

.subscribe-btn {
    background: transparent;
    color: #00FF94;
    border: 1px solid #00FF88;
    padding: 12px 48px;
    border-radius: 50px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.about-section {
    background-color: #1A0B2E;
    padding: 80px 0;
    text-align: center;
}

.about-heading {
    font-size: 48px;
    color: white;
    margin-bottom: 16px;
}

.about-text-area p {
    color: white;
    max-width: 1600px;
    margin: 0 auto 10px;
    font-size: 16px;
}

/* highlight-text {
    color: white;
} */

.divider-line {
    height: 1px;
    background-color: #333;
    width: 100%;
    margin: 50px 0; 
}

.number-box-area {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.single-box h3 {
    font-size: 48px;
    color: #00FF88;
    margin-bottom: 16px;
}

.single-box {
    font-size: 16px;
    color: white;
}

.features-section {
    color: white;
    padding: 60px 0;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 40px;
}

.section-title {
    margin-bottom: 40px;
    margin-top: 120px;
    font-style: bold;
    font-size: 48px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 380px);
    gap: 30px;
    grid-template-rows: min-content min-content min-content;
}
 
.icon-box {
    padding: 40px;
    display: flex;
}

 .feature-card {
    background: #1e0b36; 
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;      
}

.icon-box img {
    width: 40px;
    height: auto;
    margin-bottom: 20px;
}

.feature-card h3 {
    color: white;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.feature-card p {
    color: white;
    font-size: 0.9rem;
    line-height: 1.6;
}

.feature-card.tall-card {
    justify-content: flex-start;
    padding-top: 50px;
}

.tall-card {
    grid-column: 1;
    grid-row: span 2;
   
}

.normal-card {
    grid-column: span 2;
    grid-row: span 1;
}

.small-card {
    grid-column: span 1;
    grid-row: span 1;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.featured-section {
    padding: 80px 20px;
    background-color: #160a29;
    color: white;
}

.section-title {
    text-align: center;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 40px;
    color: white;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.card {
    background-color: #6d36bb50;
    border-radius: 20px;
    overflow: hidden;
    width: 380px;
    /* height: 440px; */
    transition: transform 0.3s ease;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 214px;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.card-content h3 {
    font-size: 24px;
    font-style: bold;
    font-weight: 700;
     text-align: left;
    margin-bottom: 12px;
    line-height: 29px;
    color: white;
}

.card-content p {
    font-size: 14px;
    color: white;
    line-height: 1.6;
    margin-bottom: 20px;
    font-weight: 300;
}

.card-content {
    padding: 25px;
}

.card-meta {
    display: flex;
    align-items: center;
    gap: 8px;
}

.clock-icon {
    width: 16px;
    height: 16px;
}

.card-meta span {
    color: #00ff84;
    font-size: 14px;
    font-weight: 500;
}



