
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}



header {
    background-color: #1A0B2E;
    padding-top: 30px;
    /* width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000; */
}

nav {
    margin: 0 auto;
    width: 81%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.gradient-text {
    background: linear-gradient(90deg, #FF3399 0%, #FF9933 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}


.menu {
  display: flex;
  gap: 32px;
  list-style: none;
  align-items: center;
}

.menu li a {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.btn-subscribe {

   background: linear-gradient(90deg, #FFD700 0%, #FF2E93 50%, #9F53FF 100%);
    color: white;
    padding: 12px 16px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 4px;

}

.banner-section {
    text-align: center;
    padding: 80px 0;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
}

.microphone-area {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorful-circle-img {
    width: 100%;
    height: 100%;
}

.mic-icon {
    position: absolute;
    width: 116px;
    align-items: center;
    /* z-index: 2; */

}

.new-badge {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 12px;
    
}

.title {
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-bottom: 8px;
    margin-top: 40px;
}

.sub-title {
    font-size: 16px;
    color: white;
    margin-bottom: 24px;
    margin-top: 8px;
    font-weight: 300;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.spotify-btn {
    background: linear-gradient(90deg, #FFD700 0%, #FF2E93 50%, #9F53FF 100%);
    color: white;
    padding: 12px 28px;
    border-radius: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.small-icon {
    width: 20px;
    margin-right: 8px;
}

.subscribe-btn {
    background: transparent;
    color: #00FF94;
    border: 1px solid #00FF88;
    padding: 12px 48px;
    border-radius: 50px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-decoration: none;
}