
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}



header {
    background-color: #1A0B2E;
    padding-top: 30px;
    /* width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000; */
}

nav {
    margin: 0 auto;
    width: 81%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.gradient-text {
    background: linear-gradient(90deg, #FF3399 0%, #FF9933 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}


.menu {
  display: flex;
  gap: 32px;
  list-style: none;
  align-items: center;
}

.menu li a {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.btn-subscribe {

   background: linear-gradient(90deg, #FFD700 0%, #FF2E93 50%, #9F53FF 100%);
    color: white;
    padding: 12px 16px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 4px;

}

